[submodule "ext/DirectXMath"]
	path = ext/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "ext/DirectXTex"]
	path = ext/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "ext/tinygltf"]
	path = ext/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
